name: Run Tests

on:
  workflow_call:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      # slightly redundant as the gradlew build will re-call shadowJar
      - name: Create dockerImage for e2e tests
        run: ./gradlew wiremockDockerImage

      - name: Build and Test with Gradle
        run: ./gradlew build
