name: Run Tests

on:
  workflow_call:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build docker-image-e2e with cache
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: docker-image-e2e
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and Test with Gradle
        run: ./gradlew build
